.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 303px;
    input {
        height: 54px;
        background-color: #FFF;
        padding: 0 20px;
        border-radius: 5px;
        border: none;
        margin-bottom: 12px;
        color: #4B4B4B;
        font-size: 14px;
        font-weight: 300;
        &:last-of-type {
            margin-bottom: 17px;
        }
    }
    &_mt26 {
        margin-top: 26px; 
    }

}